{include file="public/_meta" /}

<div id="demo1"></div>

{include file="public/_footer"}
<!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->
<script>
    layui.use(['laypage', 'layer'], function(){
        var laypage = layui.laypage
            ,layer = layui.layer;
        //总页数大于页码总数
        laypage.render({
            elem: 'demo1'
            ,count: 40
            ,limit:5
            , theme: '#1E9FFF'
            ,layout: [ 'count','prev', 'page', 'next', 'skip']
            ,jump: function(obj){
                console.log(obj.curr)
            }
        });
    });
</script>

</body>
</html>